functions/node_modules
functions/package-lock.json
public/angular-material.css
public/angular-material-old.css
public/scripts/autotrack.js
firebase-debug.log
.vscode
public/angular-material-orig.css
.DS_Store
