<link rel="stylesheet" href="styles/courses.css">
<div flex layout="column">
	<md-content flex layout="column" layout-gt-sm="row">
		<md-progress-circular id="loader" ng-if="loading" md-mode="indeterminate"></md-progress-circular>
		<section id="ms" layout-margin flex-gt-md="33" ng-if="!loading">
			<h3>Middle School Courses</h3>
			<div layout="column" layout-xl="row">
				<div flex="none" flex-xl layout="column">
					<fieldset>
						<legend>Math</legend>
						<md-checkbox ng-repeat="course in list.ms.math | filter: search" ng-model="selected[course]" ng-change="update(course)">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>English</legend>
						<md-checkbox ng-repeat="course in list.ms.english | filter: search" ng-model="selected[course]" ng-change="update(course)">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Science</legend>
						<md-checkbox ng-repeat="course in list.ms.science | filter: search" ng-model="selected[course]" ng-change="update(course)">{{course}}</md-checkbox>
					</fieldset>
				</div>
				<div flex="none" flex-xl layout="column">
					<fieldset>
						<legend>History</legend>
						<md-checkbox ng-repeat="course in list.ms.history | filter: search" ng-model="selected[course]" ng-change="update(course)">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Languages</legend>
						<md-checkbox ng-repeat="course in list.ms.language | filter: search" ng-model="selected[course]" ng-change="update(course)">{{course}}</md-checkbox>
					</fieldset>
				</div>
			</div>
		</section>
		<section id="hs" layout-margin flex-gt-md="66" ng-if="!loading">
			<h3>Upper School Courses</h3>
			<div layout="column" layout-gt-md="row">
				<div flex="none" flex-gt-md layout="column">
					<fieldset>
						<legend>Math</legend>
						<md-checkbox ng-repeat="course in list.us.math | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>English</legend>
						<md-checkbox ng-repeat="course in list.us.english | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Science</legend>
						<md-checkbox ng-repeat="course in list.us.science | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>History</legend>
						<md-checkbox ng-repeat="course in list.us.history | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
				</div>
				<div flex="none" flex-gt-md layout="column">
					<fieldset>
						<legend>Computer Science</legend>
						<md-checkbox ng-repeat="course in list.us.cs | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Spanish</legend>
						<md-checkbox ng-repeat="course in list.us.spanish | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>French</legend>
						<md-checkbox ng-repeat="course in list.us.french | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Japanese</legend>
						<md-checkbox ng-repeat="course in list.us.japanese | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Latin</legend>
						<md-checkbox ng-repeat="course in list.us.latin | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Mandarin</legend>
						<md-checkbox ng-repeat="course in list.us.mandarin | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Visual/Performing Arts</legend>
						<md-checkbox ng-repeat="course in list.us.art | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
					<fieldset>
						<legend>Business & Entrepreneurship</legend>
						<md-checkbox ng-repeat="course in list.us.business | filter: search" ng-model="selected[course]" ng-change="update(course)" ng-disabled="isMS">{{course}}</md-checkbox>
					</fieldset>
				</div>
			</div>
		</section>
	</md-content>
	<footer class="md-whiteframe-3dp" style="z-index: 2;">
		<div layout="row">
			<md-autocomplete hide show-gt-sm ng-disabled="loading" placeholder="Search courses" md-items="[]" md-search-text="search" md-select-on-focus></md-autocomplete>
			<span class="info" hide show-gt-md>Report missing courses using <a href="/feedback" ng-click="goToFeedback()">Feedback</a> form.</span>
			<div flex></div>
			<span class="error" ng-if="max">Max 9 courses</span>
			<md-button class="error" ng-if="unsaved && (!max || gtXs)" ng-disabled="true">Unsaved Changes</md-button>
			<md-button ng-disabled="loading || !signedIn" ng-click="selected={}; update();">Deselect All</md-button>
			<md-button class="md-raised" ng-disabled="loading || !unsaved" ng-click="reset()">Reset</md-button>
			<md-button class="md-primary md-raised" ng-disabled="loading || !unsaved || max || !isSchool" ng-click="save()">Save</md-button>
		</div>
	</footer>
</div>