<md-content flex layout="column">
  <span ng-if="!signedIn" style="text-align: center;" layout-margin layout-padding class="md-headline">Welcome to the #1 source for school study guides and notes! Please sign in.</span>
  <span ng-if="signedIn" style="text-align: center;" layout-margin layout-padding class="md-headline">Welcome back! Check for new features in the About page.</span>
  <section flex layout="row">
    <div flex layout-margin layout-padding>
      <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-cols-lg="4" md-cols-xl="5" md-row-height="225px" md-gutter="25px">
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: darkgreen;">Real-time</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            Live updating study guides means you won't have to reload the page. Everything updates real-time right on your screen. When you like a study guide or submit a new one, it will show up immediately without any delays.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: darkorange;">Responsive</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            Mobile-friendly. Try resizing this window by making it smaller and larger. Everything will fit perfectly on your screen no matter what device you're using.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: dodgerblue;">Fast</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            This is a single-page application, meaning the entire page won't reload when you're visiting another page, which makes it a lot faster. No time is spent waiting; your notes/study guides should show up in less than 2 seconds.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: darkviolet;">Modern</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            A modern webpage design contributes to a great user experience. After some time, this should be the third-most visited page in your day, after PCR and email. Why? It looks nice.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: royalblue;">Easy-to-use</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            There are no tutorials or documentation; everything is straight-forward and easy-to-use. The study guides collection is simple enough that anyone can figure it out, but still has all the components necessary.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: red;">Customizable</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            Custom settings allow even more personalization, like theme color or dark mode. A custom feed also limits the study guides to only your own subjects, so you can access the content you need easily.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: limegreen;">Secure</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            All data on this website is kept secure by Google services. I have taken the steps necessary to prevent spammers from ruining the purpose of this study guide resource.
          </md-card-content>
        </md-card></md-grid-tile>
        <md-grid-tile><md-card layout-fill>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="color: brown;">Accessible</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            Filters in the study guides page allow you to get only the study guides that you need. Sorting features allow you to order study guides by date, likes, etc. The search bar allows you to jump directly to any subject.
          </md-card-content>
        </md-card></md-grid-tile>
      </md-grid-list>
    </div>
  </section>
</md-content>
