<link rel="stylesheet" href="styles/studyguides.css">
<md-content flex>
  <md-toolbar style="z-index: 3;"><md-subheader>
    <div layout="column" layout-gt-xs="row">
      <div flex layout="row">
        <md-autocomplete flex md-items="[]" placeholder="Search all study guides" md-search-text="search" md-clear-button="true" md-select-on-focus></md-autocomplete>
      </div>
      <div layout="row">
        <span id="last-updated" class="md-body-1" layout-margin layout-padding>Last updated: {{lastUpdated.toLocaleString() || "--"}}</span>
        <md-select flex="none" flex-xs="40" ng-model="sort" placeholder="Sort by..." style="width: 100px; line-height: normal; margin-top: 0; margin-bottom: 0;">
          <md-tooltip md-delay="200" md-autohide>Sort by...</md-tooltip>
            <md-option value="-time">Newest</md-option>
            <md-option value="time">Oldest</md-option>
            <md-option value="-likes.length">Most Liked</md-option>
            <md-option value="title">Title A-Z</md-option>
            <md-option value="-title">Title Z-A</md-option>
            <md-option value="url">URL</md-option>
        </md-select>
      </div>
    </div>
  </md-subheader></md-toolbar>
  <md-content layout-margin layout-padding ng-if="!signedIn"><md-icon>info</md-icon>Please sign in to view study guides.</md-content>
  <md-content layout-margin layout-padding ng-if="signedIn && numCourses==0"><md-icon>info</md-icon>You have not selected any courses. Visit the <a href="/courses" id="no-courses" ng-click="goToCourses()">Courses</a> page to get started.</md-content>
  <md-progress-circular md-mode="indeterminate" ng-if="signedIn && !loaded && numCourses!=0"></md-progress-circular>
  <!-- COURSE -->
  <section ng-repeat="(name, course) in courses" ng-mouseenter="hoverFx()">
    <md-subheader class="md-whiteframe-2dp" layout="row" style="height: 36px;">
      <div layout="row" style="margin-top: -7px;"><span class="md-subhead" style="text-transform: uppercase;">{{name}}</span></div>
    </md-subheader>
    <md-content layout-margin layout="column">
      <md-grid-list ng-if="course.folders.length>0" md-cols="1" md-cols-gt-sm="2" md-cols-xl="4" md-row-height="40px" md-gutter="10px" style="z-index: 1;">
        <!-- FOLDER -->
        <md-grid-tile class="folder" ng-repeat="folder in course.folders" md-colspan="1" md-colspan-gt-sm="{{folder.cols}}" md-colspan-xl="{{folder.xlCols}}" md-rowspan="{{folder.xsRows}}" md-rowspan-gt-xs="{{folder.rows}}" md-rowspan-lg="{{folder.lgRows}}" md-rowspan-xl="{{folder.xlRows}}">
          <div layout="column" layout-fill style="overflow: hidden;">
            <md-card class="folder-card" layout="row">
              <md-card-title class="folder-card-title" flex ng-click="toggleFolder(name, folder)">
                <md-card-title-text style="overflow-x: auto; overflow-y: hidden; padding-bottom: 20px; height: 100%;">
                  <span class="md-title" style="white-space: nowrap;">{{folder.title}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions style="margin-top: 0;">
                <md-button class="md-icon-button edit-folder" ng-click="editFolder($event, name, folder)">
                  <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button folder-flip" ng-click="toggleFolder(name, folder)" md-no-ink>
                  <md-icon id="flip-{{folder.time}}" class="material-icons">expand_more</md-icon>
                </md-button>
              </md-card-actions>
            </md-card>
            <md-progress-circular md-mode="indeterminate" ng-if="folder.loading"></md-progress-circular>
            <md-grid-list id="gl-{{folder.id}}" ng-if="folder.sg.length>0" md-cols="2" md-cols-xs="1" md-cols-lg="3" md-cols-xl="5" md-row-height="140px" md-gutter="10px" style="margin: 6px;">
              <!-- FOLDER SG -->
              <md-grid-tile class="sg" ng-repeat="sg in folder.sg | filter: {title: search} | orderBy: sort">
                  <md-card layout-fill md-ink-ripple="#999">
                      <md-card-header ng-click="click(sg.url)">
                        <md-card-avatar><img src="{{getImage(sg.url)}}"></md-card-avatar>
                        <md-card-header-text style="overflow: hidden;">
                          <span class="md-body-1" title="{{sg.url}}">{{sg.url}}</span>
                          <span class="md-subhead">Added {{sg.time.toLocaleDateString()}} • {{sg.name}}</span>
                        </md-card-header-text>
                      </md-card-header>
                      <md-card-title ng-click="click(sg.url)">
                        <md-card-title-text style="overflow-x: hidden;">
                          <span class="md-title">{{sg.title}}</span>
                          <span class="md-subhead">{{sg.info}}</i></span>
                        </md-card-title-text>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="start end">
                        <span layout-margin class="md-caption sg-id" title="IDs are mainly for debugging purposes.">ID# {{sg.id}}</span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="editSG($event, name, sg)">
                          <md-icon>edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-disabled="sg.likes.indexOf(uid)!=-1" ng-click="like(sg.id, name, sg.likes)" style="margin-right: 0;">
                          <md-icon>thumb_up</md-icon>
                        </md-button>
                        <span id="likes" style="margin: auto;">{{sg.likes.length}}</span>
                        <md-menu style="margin: 0;">
                          <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon class="material-icons">more_vert</md-icon>
                          </md-button>
                          <md-menu-content>
                            <md-menu-item><md-button ng-click="move(sg.id, name, course.folders, sg.folder)">
                              <md-icon>create_new_folder</md-icon>
                              Move to a different folder...
                            </md-button></md-menu-item>
                            <md-menu-item><md-button ng-disabled="sg.flags.indexOf(uid)!=-1" ng-click="flag(sg.id, name, sg.flags)">
                              <md-icon>report</md-icon>
                              Flag as spam/unusable/outdated
                            </md-button></md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </md-card-actions>
                    </md-card>
              </md-grid-tile>
            </md-grid-list>
            <span layout-padding ng-if="folder.sg.length==0"><i>Empty Folder</i></span>
          </div>
        </md-grid-tile>
      </md-grid-list>
      <md-grid-list ng-if="course.sg.length>0" md-cols="2" md-cols-xs="1" md-cols-lg="3" md-cols-xl="5" md-row-height="140px" md-gutter="15px">
        <!-- NON-FOLDER SG -->
        <md-grid-tile class="sg" ng-repeat="sg in course.sg | filter: {title: search} | orderBy: sort">
          <md-card layout-fill md-ink-ripple="#999">
            <md-card-header ng-click="click(sg.url)">
              <md-card-avatar><img src="{{getImage(sg.url)}}"></md-card-avatar>
              <md-card-header-text style="overflow: hidden;">
                <span class="md-body-1" title="{{sg.url}}">{{sg.url}}</span>
                <span class="md-subhead">Added {{sg.time.toLocaleDateString()}} • {{sg.name}}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-title ng-click="click(sg.url)">
              <md-card-title-text style="overflow-x: hidden;">
                <span class="md-title">{{sg.title}}</span>
                <span class="md-subhead">{{sg.info}}</i></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start end">
              <span layout-margin class="md-caption sg-id" title="IDs are mainly for debugging purposes.">ID# {{sg.id}}</span>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="editSG($event, name, sg)">
                <md-icon>edit</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-disabled="sg.likes.indexOf(uid)!=-1" ng-click="like(sg.id, name, sg.likes)" style="margin-right: 0;">
                <md-icon>thumb_up</md-icon>
              </md-button>
              <span id="likes" style="margin: auto;">{{sg.likes.length}}</span>
              <md-menu style="margin: 0;">
                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                  <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item><md-button ng-click="move(sg.id, name, course.folders, sg.folder)">
                    <md-icon>create_new_folder</md-icon>
                    Move to a different folder...
                  </md-button></md-menu-item>
                  <md-menu-item><md-button ng-disabled="sg.flags.indexOf(uid)!=-1" ng-click="flag(sg.id, name, sg.flags)">
                    <md-icon>report</md-icon>
                    Flag as spam/unusable/outdated
                  </md-button></md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-card-actions>
          </md-card>
        </md-grid-tile>
      </md-grid-list>
    </md-content>
  </section>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="toggleRightMenu()">
  <md-tooltip md-direction="top">Add a Study Guide</md-tooltip>
  <md-icon>add</md-icon>
</md-button>
<md-sidenav class="md-sidenav-right" layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="5">
  <md-tabs md-stretch-tabs="always" md-border-bottom md-dynamic-height md-swipe-content>
    <md-tab label="Study Guide">
      <!-- ADD SG -->
      <md-progress-linear ng-disabled="!sgLoading" md-mode="indeterminate"></md-progress-linear>
      <md-content layout-margin>
        <h3 class="md-title">Add Notes/Study Guide</h3>
        <form name="addSG">
          <md-tooltip ng-if="!isSchool" md-delay="200" md-direction="top">Sign in with a school account to add study guides.</md-tooltip>
          <md-tooltip ng-if="locked" md-delay="200" md-direction="top">You cannot add study guides since your account is locked.</md-tooltip>
          <md-input-container class="md-block">
            <label>Title</label>
            <md-icon>text_fields</md-icon>
            <input type="text" name="title" ng-model="sgForm.title" md-maxlength="50" minlength="5" required md-no-asterisk ng-disabled="!isSchool || locked || sgLoading">
            <div ng-messages="addSG.title.$error" ng-if="addSG.title.$touched">
              <div ng-message="md-maxlength">Title is too long.</div>
              <div ng-message="required">Required</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Description (optional)</label>
            <md-icon>subject</md-icon>
            <textarea name="info" ng-model="sgForm.info" md-maxlength="100" ng-disabled="!isSchool || locked || sgLoading" md-no-resize max-rows="3"></textarea>
            <div ng-messages="addSG.info.$error" ng-if="addSG.info.$touched">
              <div ng-message="md-maxlength">Description is too long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Link</label>
            <md-icon>link</md-icon>
            <input type="url" name="url" ng-model="sgForm.url" required md-no-asterisk minlength="18" ng-maxlength="250" ng-pattern="/^.+\..+$/" ng-disabled="!isSchool || locked || sgLoading">
            <div ng-messages="addSG.url.$error" ng-if="addSG.url.$touched">
              <div ng-message="required">Required</div>
              <div ng-message="pattern">Invalid URL</div>
              <div ng-message-exp="['minlength', 'maxlength']">Not a notes/study guide URL ;)</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Course</label>
            <md-icon>class</md-icon>
            <md-select name="course" ng-model="sgForm.course" required md-no-asterisk ng-disabled="!isSchool || locked || sgLoading">
              <md-option ng-value="id" ng-repeat="(id, course) in courses">{{id}}</md-option>
            </md-select>
            <div ng-messages="addSG.course.$error" ng-if="addSG.course.$touched">
              <div ng-message="required">Required</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" ng-if="sgForm.course!=undefined">
            <label>Folder</label>
            <md-icon>folder</md-icon>
            <md-select name="folder" ng-model="sgForm.folder" ng-disabled="!isSchool || locked || sgLoading">
              <md-option><i>None</i></md-option>
              <md-option ng-value="folder.time" ng-repeat="folder in courses[sgForm.course].folders">{{folder.title}}</md-option>
            </md-select>
          </md-input-container>
          <md-switch ng-model="sgForm.showName" name="show name" ng-disabled="!isSchool || locked || sgLoading" style="margin-left: 0;"><span class="md-body-1 md-label">Display my name along with this study guide.</span></md-switch>
          <md-checkbox id="honor-sg" ng-model="sgForm.honorCode" required ng-disabled="!isSchool || locked || sgLoading"><span class="md-body-1">I abide by the Harker Honor Code by submitting this resource.</span></md-checkbox>
          <md-button type="submit" ng-click="submitSG()" ng-disabled="!isSchool || locked || sgLoading" class="md-primary md-raised">Submit</md-button>
          <md-button type="reset" ng-click="clearSG()" ng-disabled="!isSchool || locked || sgLoading">Clear</md-button>
          <md-content class="md-caption" style="color: gray;">
            <p>Your notes/study guide should allow access to all members of the school community.</p>
          </md-content>
        </form>
      </md-content>
    </md-tab>
    <md-tab label="Folder">
      <!-- ADD FOLDER -->
      <md-progress-linear ng-disabled="!folderLoading" md-mode="indeterminate"></md-progress-linear>
      <md-content layout-margin>
        <h3 class="md-title">Add a Folder</h3>
        <form name="addFolder">
          <md-tooltip ng-if="!isSchool" md-delay="200" md-direction="top">Sign in with a school account to add folders.</md-tooltip>
          <md-tooltip ng-if="locked" md-delay="200" md-direction="top">You cannot submit folders since your account is locked.</md-tooltip>
          <md-input-container class="md-block">
            <label>Folder Name</label>
            <md-icon>folder</md-icon>
            <input type="text" name="title" ng-model="folderForm.title" md-maxlength="40" minlength="4" required md-no-asterisk ng-disabled="!isSchool || locked || folderLoading">
            <div ng-messages="addFolder.title.$error" ng-if="addFolder.title.$touched">
              <div ng-message="md-maxlength">Folder name is too long.</div>
              <div ng-message="required">Required</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Course</label>
            <md-icon>class</md-icon>
            <md-select name="course" ng-model="folderForm.course" required md-no-asterisk ng-disabled="!isSchool || locked || folderLoading">
              <md-option ng-value="id" ng-repeat="(id, course) in courses">{{id}}</md-option>
            </md-select>
            <div ng-messages="addFolder.course.$error" ng-if="addFolder.course.$touched">
              <div ng-message="required">Required</div>
            </div>
          </md-input-container>
          <md-button type="submit" ng-click="submitFolder()" ng-disabled="!isSchool || locked || folderLoading" class="md-primary md-raised">Submit</md-button>
          <md-button type="reset" ng-click="clearFolder()" ng-disabled="!isSchool || locked || folderLoading">Clear</md-button>
          <md-content class="md-caption" style="color: gray;">
            <p>Folder names should be general and broad, like "Poetry," "Chapter 7," or "Semester 1 Review."</p>
          </md-content>
        </form>
      </md-content>
    </md-tab>
  </md-tabs>
</md-sidenav>