.flip {
	transform: scaleY(-1);
}
md-card-header, md-card-title, md-card-content {
	cursor: pointer;
}
md-card-header:focus, md-card-title:focus, md-card-content:focus {
	outline: none;
}
md-grid-tile.sg md-card-actions {
	display: none !important;
}
md-grid-tile.sg:hover md-card-actions {
	display: flex !important;
}
md-card .md-icon-button:not([disabled]) md-icon {
	transition-duration: 100ms;
}
md-card .md-icon-button:not([disabled]):hover md-icon {
	opacity: 0.8;
}
md-card md-card-header:first-child md-card-avatar {
	height: 32px;
	width: 32px;
	margin-right: 8px;
}
md-card md-card-header-text span {
	font-size: 12px !important;
	line-height: 16px !important;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
md-card md-card-title md-card-title-text .md-subhead {
	font-size: 13px;
}
md-card md-card-title md-card-title-text .md-title {
	font-size: 16px;
}